{% extends 'main/base.html' %}

{% block app_content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
<div class="dashboard">
    <div class="sidebar">
        <h2>My Communities</h2>
        <a href="{{ url_for('main.create_community') }}" class="btn btn-custom">Create a new community</a>
        <h4>Created</h4>
        <div class="communities-created">
            {% for name in my_communities %}
                <div class="community" style="animation-delay: {{ loop.index0 * 0.1 }}s;">
                    <p>{{ name.name }} <em>{{ name.about }}</em></p>
                    <a href="{{ url_for('main.community_chat', community=name.name) }}" class="btn btn-custom">Visit</a>
                </div>
            {% endfor %}
        </div>
        <h4>Communities Joined</h4>
        <div class="communities-joined">
            {% for group in joined %}
                <div class="community" style="animation-delay: {{ loop.index0 * 0.1 }}s;">
                    <p>{{ group.name }} Created by <em>{{ group.created_by_user.username }}</em></p>
                    <a href="{{ url_for('main.community_chat', community=group.name) }}" class="btn btn-custom">Visit</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="main">
        <h2>Crypto Trends</h2>
        <div class="card">
            <!-- Add your main content here -->
        </div>
    </div>
    <div class="trends">
        <h2>Trending Communities</h2>
        <div class="communities-trending">
            {% for groups in globals %}
                <div class="community" style="animation-delay: {{ loop.index0 * 0.1 }}s;">
                    <p>{{ groups.name }} <em>{{ groups.about }}</em> Created by {{ groups.created_by_user.username }}</p>
                    <a href="{{ url_for('main.join_community', community_id=groups.id) }}" class="btn btn-custom">Join</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>

{% endblock %}
