{% extends "main/base.html" %}

{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
crossorigin="anonymous"></script>

<div class="chat-container">
  <div class="chat-header">
      <h2>Welcome to {{ group_name }}</h2>
      <a href="{{ url_for('main.dashboard') }}" class="btn btn-primary">Leave {{ group_name }}</a>
  </div>
  <div class="chat-messages" id="chat-messages" style="color: '{{ colors }}'">
      <!-- Messages will be appended here by the JavaScript code -->
  </div>
  <div class="chat-inputs">
      <textarea
        rows="3"
        placeholder="Send a message...."
        name="message"
        id="message"
      ></textarea>
      <button type="button" name="send" id="send-btn" onclick="sendMessage()">
        Send
      </button>
      <button class="dark-mode-toggle" onclick="toggleDarkMode()">🌙</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}