{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

<div class='container'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <div class='col-md-4'>
        <center>
        <h1>{{ ('Update Password') }}</h1>
        </center>
        <form action="/password_update" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <p>{{ form.email.label}}</p>
                <p> {{ form.email(class_="form-control", placeholder="Enter email address")}}</p>
                {% for error in  form.email.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
                </div>
                {% endfor %}
            </p>
            <p>
                <p>{{ form.old_password.label}}</p>
                <p> {{ form.old_password(class_="form-control", placeholder="Enter old password")}}</p>
                {% for error in  form.old_password.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
                </div>
                {% endfor %}
            </p>
            <p>
                <p>{{ form.new_password.label}}</p>
                <p> {{ form.new_password(class_="form-control", placeholder="Enter new password")}}</p>
                {% for error in  form.new_password.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
                </div>
                {% endfor %}
            </p>
            <p>
                <p>{{ form.confirm_password.label}}</p>
                <p> {{ form.confirm_password(class_="form-control", placeholder="Re-enter new password")}}</p>
                {% for error in  form.confirm_password.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
                </div>
                {% endfor %}
            </p>            
            <p>{{ form.submit(class="btn btn-primary")}}</p>
        </form>
    </div>
</div>
{% endblock %}