{% extends 'base.html' %}

{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
<div class="dashboard">
    <div class="card">
        <div class="sidebar">
            <h2>Hello, {{ user.username }}</h2>
            <img class="avatar" src="{{ user.avatar(160) }}" alt="Profile Picture">
            {% if user.last_seen %}
                <div class="last-seen">Last seen: <em>{{ moment(user.last_seen).fromNow() }}</em></div>
            {% endif %}
            <div class="bio">
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
            </div>
            <div class="email">Email: {{ user.email }}</div>
        </div>
        <div class="main">
            <h2>My Communities</h2>
            <div class="communities">
                {% for group in user_group %}
                    <div class="community">{{ group.name }} <a href="{{ url_for('remove_community', community=group.name) }}" class="btn btn-danger">Delete</a></div>
                {% endfor %}
            </div>
            <h2>Joined Communities</h2>
            <div class="communities">
                {% for group in joined %}
                    <div class="community">{{ group.name }} Created by <em>{{ group.created_by_user.username }}</em> <a href="{{ url_for('leave_group', community_id=group.id) }}" class="btn btn-danger">Leave</a></div>
                {% endfor %}
            </div>
        </div>
        <div class="trends">
            <h2>Profile Settings</h2>
            {% if user == current_user %}
                <a class="btn btn-primary" href="{{ url_for('edit_profile') }}">Edit your Profile</a>
                <a class="btn btn-primary" href="{{ url_for('updatePwd') }}">Change password</a>
            {% endif %}
            <a class="btn btn-secondary" href="{{ url_for('dashboard') }}">Home</a>
        </div>
    </div>
</div>
{% endblock %}
