.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat-messages {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.message-sender {
  margin-bottom: 10px;
}

.chat-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

textarea {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#send-btn {
  width: 10%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens smaller than or equal to 768px */
  .chat-container {
    width: 100%;
  }

  .chat-header, .chat-messages, .chat-inputs {
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 100%;
  }

  #send-btn {
    width: 100%;
  }
}
